.narrow {
  max-width: 1000px;
  margin: 0 auto;
}
body {
  max-width: 1000px;
  margin: 0 auto;
}
body > .hebilead {
  margin: 30px 10px;
  border: 1px solid red;
}
.btn {
  margin: 10px 0;
}
.hebilead {
  margin-left: 80px;
  position: relative;
  border: 1px solid green;
}
.hebilabel {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  margin-left: 10px;
}
.hebiitem {
  margin-left: 80px;
}
