p,
ul {
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
}
a:hover {
  text-decoration: none;
}
h2 {
  padding: 2px;
  border-bottom: 1px solid rgba(182, 182, 182, 0.7);
}
::-moz-selection {
  color: white;
  background: #ff5e99;
}
::selection {
  color: white;
  background: #ff5e99;
}
.narrow {
  margin: 0 5%;
}
body {
  max-width: 1000px;
  margin: 0 auto;
}
body > .hebilead {
  margin: 30px 10px;
  border: 1px solid red;
}
body > .hebilead > .hebilabel {
  font-size: 22px;
  color: red;
}
body > .hebiitem {
  display: inline-block;
}
body > .hebilabel {
  font-size: 22px;
  color: green;
}
.hebilead {
  margin-left: 80px;
  position: relative;
  border: 1px solid green;
  display: inline-block;
  padding: 2px 3px;
}
.hebilabel {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
.hebiitem {
  margin-left: 80px;
}
/*desert code theme*/
/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333333;
}
pre .nocode {
  background-color: none;
  color: #000000;
}
pre .str {
  color: #ffa0a0;
}
/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
pre .com {
  color: #87ceeb;
}
/* comment - skyblue */
pre .typ {
  color: #98fb98;
}
/* type    - lightgreen */
pre .lit {
  color: #cd5c5c;
}
/* literal - darkred */
pre .pun {
  color: #ffffff;
}
/* punctuation */
pre .pln {
  color: #ffffff;
}
/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0;
}
/* attribute value - pink */
pre .dec {
  color: #98fb98;
}
/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str,
  code .str {
    color: #006600;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #004444;
  }
  pre .pun,
  code .pun {
    color: #444400;
  }
  pre .pln,
  code .pln {
    color: #000000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #440044;
  }
  pre .atv,
  code .atv {
    color: #006600;
  }
}
