
head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(charset="utf8")
  title= page.title
  // build:css /css/app.css
  //- link(href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
  //- link(href="http://cdn.bootcss.com/prettify/r298/prettify.min.css", rel="stylesheet")
  link(href="../bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
  link(href="../bower_components/google-code-prettify/src/prettify.css", rel="stylesheet")
  link(href="/css/main.css", rel="stylesheet")
  // endbuild
