mixin lists(list, path)
  - each i in list
    - if (typeof(i) == 'string')
      .hebiitem
        a(href="#{path}#{i}")= i.slice(0,-5)
    - else
      .hebilead
        .hebilabel= i.name
        +lists(i.list, path+i.name+'/')

doctype html
html
  include head
  body
    +lists(list, '')
    include foot
